/ClienteServiceSOAP.class
/ClienteServiceSOAPService.class
/ClienteServiceSOAP_ClienteServiceSOAPPort_Client.class
/Deposito.class
/DepositoResponse.class
/Exception.class
/Exception_Exception.class
/Login.class
/LoginResponse.class
/ObjectFactory.class
/Respuesta.class
/Retiro.class
/RetiroResponse.class
/Transferencia.class
/TransferenciaResponse.class
/package-info.class
